<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles/restore-password.css' />

    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous' />
    <title>DDVECOM OTP</title>
</head>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<body>


    <div class='wrapper'>
        <form class='card'>
            <div class='card-header text-center'>
                <h3>OTP</h3>
            </div>
            <div class='card-body text-primary'>
                <div id='error' class='text-center text-danger'></div>
                <div id='success' class='text-center text-success'></div>
                <div id='form-inputs'>
                    <div class='form-group my-3'>
                        <label for='password'>So dien thoai</label>
                        <input type="number" class="form-control" placeholder="So dien thoai" id="phone"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    </div>

                </div>
                <div class='form-group text-center'>
                    <button type='button' id='submit' class='btn btn-primary'>Gửi</button>
                    <a href='/auth/login' class='btn btn-success d-none'>Về trang đăng
                        nhập</a>
                </div>
            </div>
        </form>
    </div>


    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='/js/otp.js'></script>
</body>

</html>