<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <p>Xin chào {{name}},</p>
    <p>Chúng tôi đã nhận được yêu cầu khôi phục mật khẩu của bạn, vui lòng xác
      nhận ở link bên dưới để kích hoạt mật khẩu mới</p>
    <p>
      <a href='{{url}}'>Cập nhật mật khẩu</a>
    </p>

    <p><strong>Lưu ý: </strong>
      Nếu bạn không yêu cầu khôi phục, bạn có thể bỏ qua nó.
    </p>

  </body>
</html>